/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* css reset end */
*{
    box-sizing: border-box;
}
.wrap{
    max-width:960px;
    margin:20px auto;
}
.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.header h1>a{
    display: block;
    width:250px;
    height:250px;
    background: url(/M1.png) no-repeat;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}
.header-bar{
    display: flex;
}
.header-bar a {
    display: block;
    text-decoration: none;
    padding: 10px;
    background-color: blue;
    color:white;
}
.header-bar a:hover{
    background-color: orange;
}
@media(max-width:768px){
    .header{
        display:block;
    }
    .header h1>a{
        width:150px;
        height:150px;
        background: url(/M2.png) no-repeat;
        margin:0 auto;
    }
    .header-bar{
        justify-content: center;
        width:50%;
        flex-wrap: wrap;
        margin:10px auto;
    }
    .header-bar li{
        width:50%;
    }
    .header-bar a{
        margin: 5px auto;
        padding:10px 20px;
        text-align: center;
    }
}

.content{
    display: flex;
    justify-content: space-between;
}
.content-news{
    border:2px solid black;
    padding:20px;
    width:75%;
}
.content-news h2{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.content-news h3{
    font-size: 18px;
    margin-bottom:20px;
}
.content-news p{
    margin-bottom: 20px;
    line-height: 1.5;
}
.content-banner{
    border:2px solid black;
    padding:5px;
    width:20%;
}
.content-banner img{
    display: block;
    max-width:100%;
    margin:0px auto 10px;
}
@media(max-width:768px){
    .content{
        display: block;
    }
    .content-news , .content-banner{
        width:97%;
        margin:3% auto;
    }
}
.footer{
    text-align: center;
    padding:10px;
}